extends layout

block content
  header(style='height: 200px; background-color: gray;')
    .conteudo
      h1= title
      p Welcome to #{title}
  .conteudo
    .grid
      for h in hipervideos
        a.hipervideo(onclick='playVideo("#{h.url}")') 
          .col-1-5(style='background-color: #{h.cor};')
            .areaTematica
              h2= h.nome
              p= h.descricao
  video(poster="http://jardim.in/hipervideo/img/splash.jpg" preload="auto" class="" id="hipVid0")
    source(type="video/webm" src="#{tocando}.webm" id="webm")
    source(src="#{tocando}.mp4" type="video/mp4" id="mp4")
  nav#video-controls.hover
    #capitulos
      .capitulo(style="width: 20%; left: 0;" onclick="seekCap(0)")
        hr
        p= hipervideos[0].capitulos[0].nome
      .capitulo(style="width: 40%; left: 20%;" onclick="seekCap(20)")
        hr
        p= hipervideos[0].capitulos[1].nome
      .capitulo(style="width: 20%; left: 60%;" onclick="seekCap(60)")
        hr
        p= hipervideos[0].capitulos[2].nome
      .capitulo(style="width: 20%; left: 80%;" onclick="seekCap(80)")
        hr
        p= hipervideos[0].capitulos[3].nome
    .rangeslider(style="")
      #tp-cr
        #tp-cr-min 00
        div(style="position: relative; float: left;") :
        #tp-cr-sec 00
      #tp-tt
        #tp-tt-sec 00
        div(style="position: relative; float: right;") :
        #tp-tt-min 00
      .rangeslider__fill(style="width: 538.416px;")
      .rangeslider__handle(style="left: 537.416px;")
    input(type="range" id="seek-bar" min="0" max="1000" data-rangeslider="" style="display: none;")

